{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
<section class="join-section spad">
	<div class="container">
    	<div class="login-section-header">
						<h2>비밀번호 변경</h2>
					</div>
    		<form method="post">
        	{% csrf_token %}
       		 {{ form.as_p }}
      		  <!-- <a href="{% url 'home' %}" class="myButton">메인페이지</a>
      		  <button type="submit">변경</button> -->
      		  <ul class="btns"> 
						<li><button type="submit" class="myButton">비밀번호 변경</button></li>
						<li><a href="{% url 'home' %}" class="back" >메인페이지</a></li>
					</ul> 
    		</form>
    	</div>
    </section>
{% endblock content %}