<!DOCTYPE html>
<html lang="zxx">  
<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>My Chart.js Chart</title>
</head>
<body>
    <div class ="chart-container" style="position: relative; height:40vh; width: 80vw">
        <canvas id="myChart"></canvas>
    </div>

<script>

    var myChart = document.getElementById('myChart').getContext('2d'); //create our chart

    // Global options
    Chart.defaults.global.defaultFontFamily = 'Lato',
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    var massPopChart = new Chart(myChart, {
        type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:['혼용', '직접호명', '지정좌석', '전자출결', '반영안함'],
            datasets:[{
                label: 'count',
                data:[
                {{attendanceMix}},
                {{attendanceDirect}},
                {{attendanceDesignated}},
                {{attendanceElectronic}},
                {{attendanceNone}},
                ],
                //backgroundColor: 'green'
                backgroundColor: [
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)',
                  'rgba(100, 52, 192, 0.6)',
                ],
                borderWidth: 4,
                borderColor: '#777',
                hoverBorderWidth:3,
                hoverBorderColor: '#000'
            }]
        },
        options:{
          title:{
            display:true,
            text: '{{pname1}} 교수님 출결 비율',
            fontSize: 25
          },
          legend: {
            display: true,
            position: 'right',
            labels: {
              fontColor: 'rgba(255,99,132)'
            }
          }
        },
        layout: {
          padding: {
            left: 0,
            right: 0,
            bottom: 0,
            top: 0
          }
        },
        tooltips:{
          enabled: true
        }

    })
</script>
</body>
</html>
