{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
		<!-- Info section -->
	<section class="main-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 order-2 order-lg-1">
					<div class="info-widget">
						<img src="{% static './img/main_user.png'%}">
						<h3 class="fw-title">SMU</h3>
						<button onclick="return infowindow()" type="submit" class=" btn btn-default" style="width:90% ">정보수정</button>
						<button onclick="location.href='{% url 'comment'%}'" type="submit" class=" btn btn-default" style="width:90%" >댓글단글</button>
					</div>
				</div>
			</div>
			
	<!-- Info section end-->
	 <!-- DISQUS -->
      <div class="row">
        <div class="col-lg-12">
          <div class="box box-primary">
            {% load disqus_tags %}
            {% disqus_show_comments %}
          </div>
          <div class="col-lg-12"></div>
        </div>
				
				<!-- <div class="col-lg-12">
					<div class="box box-primary">
						<form class="contact-form">
              				<div class="card-header">
		               		 <h6 class="title d-inline">댓글</h6>
		              	</div>
		              		<div class="card-body">
		                  <table class="table">
                    <tbody>
                    	 {%for reply in object_list %}
                      <tr>
                        <td>
                          <h6 class="title">{{reply.nickname}}
                          <p class="card-category d-inline">{{reply.date}}</p></h6>
                          <p class="text-muted">{{reply.content}}</p>
                        </td>
                        <td class="td-actions text-right">
                          <button class="btn" id="btn" type="submit"><img class="btn-img" onclick="return confirm('정말 삭제하시겠습니까?')" src="{% static 'img/cancel.png'%}"></button>
                        </td>
                      </tr>
                      {% endfor %} -->
                      <!-- <tr>
                        <td>
                          <h6 class="title">닉네임
                          <p class="card-category d-inline">4주전</p></h6>
                          <p class="text-muted">손교수님 강의력 ... 인즈엉</p>
                        </td>
                        <td class="td-actions text-right">
                          <button class="btn" id="btn" type="submit"><img class="btn-img" onclick="return confirm('정말 삭제하시겠습니까?')" src="{% static 'img/cancel.png'%}"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h6 class="title">닉네임
                          <p class="card-category d-inline">5주전</p></h6>
                          <p class="text-muted">과제 많당</p>
                        </td>
                        <td class="td-actions text-right">
                         <button class="btn" id="btn" type="submit"><img class="btn-img" onclick="return confirm('정말 삭제하시겠습니까?')" src="{% static 'img/cancel.png'%}"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h6 class="title">닉네임
                          <p class="card-category d-inline">5주전</p></h6>
                          <p class="text-muted">과제 많당</p>
                        </td>
                        <td class="td-actions text-right">
                          <button class="btn" id="btn" type="submit"><img class="btn-img" onclick="return confirm('정말 삭제하시겠습니까?')" src="{% static 'img/cancel.png'%}"></button>
                        </td>
                      </tr> -->
                      </tbody>
                  </table>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
</div>
</div>
</div>

</section>
			
			
{% endblock %}