{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
			<!-- Page info -->
	<div class="page-top-info">
			<div class="container">
				<h4>FAQ</h4>
				<h6>자주 묻는 질문</h6>
				<div class="site-pagination">
					<a href=""></a> 
				</div>
		</div>
	</div>
	<!-- Page info end -->
		<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="box box-primary">
		              		<div class="card-body">
		                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <h6 class="title">회원탈퇴
                          <p class="card-category d-inline"></p></h6>
                          <p class="text-muted">회원탈퇴는 <a href="#">여기</a>에서 하시면 됩니다.</p>
                        </td>
                        <td class="td-actions text-right">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h6 class="title">자유게시판은 무엇을 나타내는 건가요?
                          <p class="card-category d-inline"></p></h6>
                          <p class="text-muted">어쩌구 저쩌구</p>
                        </td>
                        <td class="td-actions text-right">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h6 class="title">교수님 개별 프로파일링을 보고싶어요.
                          <p class="card-category d-inline"></p></h6>
                          <p class="text-muted">교수님 프로파일링에서 교수님 이름을 클릭하시면 됩니다.</p>
                        </td>
                        <td class="td-actions text-right">
                        </td>
                      </tr>
                      </tbody>
                  </table>
                  </div>
              </div>
		  </div>
		</div>
	</div>
	</div>
</section>
{% endblock %}