{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

<body>

		<!-- join section  -->
			<section class="join-section">
				<div class="container">
					<div class="login-section-header">
						<h2>회원가입</h2>
							</div>
					<dl class="in_form">
						<form action="./" method="post">
						{% csrf_token %}
						<dt><label for="u_id">닉네임</label></dt>
						<dd><input type="text" id="u_name" class="input_txt size_m" name="nickname"></dd>
						<dt><label for="u_name">이메일</label></dt>
						<dd><input type="email" id="u_email" class="input_txt size_m" name="userid"></dd>
						<dt><label for="u_pw">비밀번호</label></dt>
						<dd><input type="password" id="u_pw" class="input_txt size_m" name="password"></dd>
						<dt><label for="u_pw">비밀번호 재확인</label></dt>
						<dd><input type="password" id="u_pw" class="input_txt size_m"></dd>
						<p><input type="checkbox">개인정보 수집 및 취급방침에 동의합니다.</p>
					</dl>
					<ul class="btns"> 
						<li><input type="submit" class="btn_ok" value="회원가입"></li>
						<li><input type ="reset" class="btn_cancel" value="취소"></li>
					</ul>
					</form>
				</div>

			</section>

		<!-- join section end -->
{% endblock %}





