{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
			<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							
						</div>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'img/icons/2.png'%}" alt="#">
						</div>
						<h4>키워드 # : 19632 </h4>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->
		<!-- Info section -->
	<section class="main-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 order-2 order-lg-1">
					<div class="info-widget">
						<img src="{% static './img/main_user.png'%}">
						<h3 class="fw-title">SMU</h3>
						<button onclick="infowindow()" type="submit" class=" btn btn-default">정보수정</button>
						<button onclick="location.href='{% url 'comment'%}'" type="submit" class=" btn btn-default" >댓글단글</button>
					</div>
				</div>
	<!-- Info section end-->
			<div class="col-lg-10  order-1 order-lg-2 mb-5 mb-lg-0">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="checkout-cart">
							<div class="section-title">
								<h3> 감성분석 자료 </h3>
							</div>
							<div class="bf-pic">
							<img src="{% static './img/data.jpg'%}"  alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}