{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script>
var words_data;
$(document).ready(function () {
   var opt = location.href.split('/')[3];
    if(opt == "main"){
      	$.ajax({url: '/topKeywords/', success: function (data) {
        	words_data = $.parseJSON(data);
  	 	}});
  	 	$.ajax({url: '/topProfessors/', success: function (data){
  	 		words_data2 = $.parseJSON(data);
  	 	}});
  	 	$.ajax({url: '/topMajors/', success: function (data){
  	 		words_data3 = $.parseJSON(data);
  	 	}});
    }
    setTimeout(function(){
		$('table#topKeywords').find('.topKwd').each(function(i, e){
			$('.topKwd')[i].innerHTML = words_data[i].keyword;
			$('.topCnt')[i].innerHTML = words_data[i].count;
			$('.topPos')[i].innerHTML = words_data[i].pos_percent;
			$('.topNeg')[i].innerHTML = words_data[i].neg_percent;
		});
		$('.topProf').each(function(i, e){
			e.innerHTML = words_data2[i].professor;
		});
		$('.topProf').next().each(function(i, e){
		    e.innerHTML = words_data2[i].major;
		});
		$('.topProfImage').each(function(i, e){
			e.src = words_data2[i].picture;
		});
		$('.topProfUrl').each(function(i, e){
			e.href = document.location.protocol+'//'+document.location.host+'/individual/'+words_data2[i].major+'/'+words_data2[i].professor;
		});
		$('table#topMajorKeywords').find('.topKwd2').each(function(i, e){
			$('.topKwd2')[i].innerHTML = words_data3[i].major;
			$('.topCnt2')[i].innerHTML = words_data3[i].count;
			$('.topPos2')[i].innerHTML = words_data3[i].pos_percent;
			$('.topNeg2')[i].innerHTML = words_data3[i].neg_percent;
		});
	}, 500);
});
</script>
		<!-- Info section -->
	<section class="main-section spad">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-2 order-2 order-lg-1"> -->
					<div class="info-widget">
						<img src="{% static './img/main_user.png'%}">
						<h3 class="fw-title">SMU</h3>
						<button onclick="return infowindow()" type="submit" class=" btn btn-default" style="width:90% ">개인정보확인</button>
						<button onclick="location.href='{% url 'password_change'%}'" type="submit" class=" btn btn-default" style="width:90%" >비밀번호 변경</button>
					</div>
				
		<!-- Info section end  -->
		<!-- professor ranking -->
				<div class="col-lg-10  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<div class="tag-sale">1등</div>
									<a href="{% url 'bbs' blog_id=2 %}" class="topProfUrl"><img src="{% static './img/word.png'%}" alt="" class="topProfImage"></a>
								</div>
								<div class="pi-text">
									<h6 class="topProf">000교수님</h6>
									<p>컴퓨터과학과</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<div class="tag-sale">2등</div>
									<a href="{% url 'bbs' blog_id=3 %}"><img src="{% static './img/word.png'%}" alt="" class="topProfImage"></a>
								</div>
								<div class="pi-text">
									<h6 class="topProf">000교수님</h6>
									<p>컴퓨터과학과</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="product-item">
								<div class="pi-pic">
									<div class="tag-sale">3등</div>
									<a href="{% url 'bbs' blog_id=4 %}"><img src="{% static './img/word.png'%}" alt="" class="topProfImage"></a>
								</div>
								<div class="pi-text">
									<h6 class="topProf">000교수님</h6>
									<p>컴퓨터과학과</p>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
			<!-- ranking end -->
			<!-- profiling ranking -->
  <section class="product-filter-section">
    <div class="container">
        <div class="row">
<!--           <div class="col-xs-1">
          </div> -->
	        <div class="col-xs-12 col-md-6">
	          <div class="checkout-cart" style="height: 410px">
              <div class="section-title">
                  <h4> 전체 프로파일링 인기 키워드 </h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="topKeywords">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          순위
                        </th>
                        <th>
                          키워드
                        </th>
                        <th>
                          빈도수
                        </th>
                        <th>
                          긍정퍼센트
                        </th>
                        <th class="text-center">
                          부정퍼센트
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                         <td>
                          1
                        </td>
                        <td class="text-center topKwd">
                          blank
                        </td>
                        <td class="text-center topCnt">
                          blank
                        </td>
                        <td class="text-center topPos">
                          blank
                        </td>
                        <td class="text-center topNeg">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          2
                        </td>
                        <td class="text-center topKwd">
                          blank
                        </td>
                        <td class="text-center topCnt">
                          blank
                        </td>
                        <td class="text-center topPos">
                          blank
                        </td>
                        <td class="text-center topNeg">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          3
                        </td>
                        <td class="text-center topKwd">
                          blank
                        </td>
                        <td class="text-center topCnt">
                          blank
                        </td>
                        <td class="text-center topPos">
                          blank
                        </td>
                        <td class="text-center topNeg">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          4
                        </td>
                        <td class="text-center topKwd">
                          blank
                        </td>
                        <td class="text-center topCnt">
                          blank
                        </td>
                        <td class="text-center topPos">
                          blank
                        </td>
                        <td class="text-center topNeg">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          5
                        </td>
                        <td class="text-center topKwd">
                          blank
                        </td>
                        <td class="text-center topCnt">
                          blank
                        </td>
                        <td class="text-center topPos">
                          blank
                        </td>
                        <td class="text-center topNeg">
                          blank
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="checkout-cart" style="height: 410px">
              <div class="section-title">
                  <h4> 인기 학과 </h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="topMajorKeywords">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          순위
                        </th>
                        <th>
                          키워드
                        </th>
                        <th>
                          빈도수
                        </th>
                        <th>
                          긍정퍼센트
                        </th>
                        <th class="text-center">
                          부정퍼센트
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                         <td>
                          1
                        </td>
                        <td class="text-center topKwd2">
                          blank
                        </td>
                        <td class="text-center topCnt2">
                          blank
                        </td>
                        <td class="text-center topPos2">
                          blank
                        </td>
                        <td class="text-center topNeg2">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          2
                        </td>
                        <td class="text-center topKwd2">
                          blank
                        </td>
                        <td class="text-center topCnt2">
                          blank
                        </td>
                        <td class="text-center topPos2">
                          blank
                        </td>
                        <td class="text-center topNeg2">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          3
                        </td>
                        <td class="text-center topKwd2">
                          blank
                        </td>
                        <td class="text-center topCnt2">
                          blank
                        </td>
                        <td class="text-center topPos2">
                          blank
                        </td>
                        <td class="text-center topNeg2">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          4
                        </td>
                        <td class="text-center topKwd2">
                          blank
                        </td>
                        <td class="text-center topCnt2">
                          blank
                        </td>
                        <td class="text-center topPos2">
                          blank
                        </td>
                        <td class="text-center topNeg2">
                          blank
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                         <td>
                          5
                        </td>
                        <td class="text-center topKwd2">
                          blank
                        </td>
                        <td class="text-center topCnt2">
                          blank
                        </td>
                        <td class="text-center topPos2">
                          blank
                        </td>
                        <td class="text-center topNeg2">
                          blank
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>
	</section>
<!-- profiling ranking end -->
</div>
</section>

{% endblock %}