{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
  <!-- Page info -->
  <div class="page-top-info" style="text-align: center;">
      <div class="container">
        <h4>비밀번호 변경완료</h4>
      </div>
  </div>
  <!-- Page info end -->
<div class="password-reset">
  <div class="container">
      <div class="row justify-content-center align-items-center" style="height:80vh;">
          <div class="col-auto border p-3">
              비밀번호가 정상적으로 변경되었습니다.
               <ul class="btns" style="margin-top: 10px; text-align: center;"> 
              <li><a href="{% url 'home' %}" class="btn" >로그인</a></li>
          </ul> 
          </div>

      </div>
  </div>
</div>
{% endblock %}