{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

    	     <!-- Page info -->
  <div class="page-top-info" style="text-align: center;">
      <div class="container">
        <h4>비밀번호 변경완료</h4>
      </div>
  </div>
  <!-- Page info end -->
	<section class="join-section spad" >
		<div class="container">

     	 <!-- <div class="row justify-content-center align-items-center" style="height:80vh;"> -->
            <div class="col-auto border p-3" style="text-align: center; font-size: 1em">
              <span style="color: #f51167" >비밀번호</span>를 정상적으로 변경하였습니다.
            </div>
          <ul class="btns"> 
						<li><a href="{% url 'home' %}" class="back" >메인페이지로 돌아가기</a></li>
		    	</ul> 
      </div>
  </div>
</section>
{% endblock %} 

