{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
<body>

		<!-- join section  -->
			<section class="join-section">
				<div class="container">
					<form action="../join" method="post">{% csrf_token %}
					<div class="login-section-header">
						<h2>회원가입</h2>
					</div>
					<dl class="in_form">
						<dt><label for="u_name">학번</label></dt>
						<dd><input type="text" name="userid" class="input_txt size_m"></dd>
						<dt><label for="u_pw">비밀번호</label></dt>
						<dd><input type="password" name="password" class="input_txt size_m"></dd>
					</dl>
					<ul class="btns"> 
						<li><input type="submit" class="btn_ok" value="인증"></input></li>
						<li><button type ="reset" onClick="#" class="btn_cancel">취소</button></li>
					</ul>
					</form>
				</div>
			</section>

		<!-- join section end -->

{% endblock %}