{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
		<!-- sitemap section  -->
    <div class="sitemap">
      <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter table-condensed" id="">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          교수별 프로파일링
                        </th>
                        <th >
                          학과
                        </th>
                    </thead>
                    <tbody>
                      {% for c in colleges %}
                      <tr>
                         <td>
                          {% if c.college == '계당교양교육원' %}
                          <a href="/major/계당교양교육원" style="font-weight: bold;">{{ c.college }}</a>
                          {% endif %}
                          {% if c.college != '계당교양교육원' %}
                          <a href="#" style="font-weight: bold;">{{ c.college }}</a>
                          {% endif %}
                        </td>
                        <td>
                          {% for m in majors %}
                          {% if m.college == c %}
                          {% if m.major != '' %}
                          <a href="{% url 'pf' pf_id=m.major %}">{{ m.major }}</a>
                        </td>
                      </tr>
                      <tr>
                         <td>
                        </td>
                        <td>
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                        </td>
                      </tr>
                          {% endfor %}
                         </tbody>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
    <div class="sitemap">
      <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter table-condensed" id="">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          학과별 프로파일링
                        </th>
                        <th >
                          학과
                        </th>
                    </thead>
                    <tbody>
                      {% for c in colleges %}
                      <tr>
                         <td>
                          {% if c.college == '계당교양교육원' %}
                          <a href="/major/계당교양교육원" style="font-weight: bold;">{{ c.college }}</a>
                          {% endif %}
                          {% if c.college != '계당교양교육원' %}
                          <a href="#" style="font-weight: bold;">{{ c.college }}</a>
                          {% endif %}
                        </td>
                        <td>
                          {% for m in majors %}
                          {% if m.college == c %}
                          {% if m.major != '' %}
                          <a href="{% url 'major' dept=m.major %}">{{ m.major }}</a>
                        </td>
                      </tr>
                      <tr>
                         <td>
                        </td>
                        <td>
                          {% endif %}
                          {% endif %}
                         {% endfor %}
                        </td>
                        </tr>
                          {% endfor %}
                        </tbody>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>


        <div class="sitemap">
		    	<div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter" id="">
                    <thead class="text-primary">
                      <tr>
                      	<th>
                      		게시판 프로파일링
                      	</th>
                    </thead>
                    <tbody>
                      <tr>
                      	 <td>
                      	 	<a href="{% url 'bbs' blog_id=370450 %}" style="font-weight: bold;">자유게시판</a>
                        </td>
                      </tr>
                      	<td>
                          <a href="{% url 'bbs' blog_id=369474 %}" style="font-weight: bold;">새내기게시판</a>
                        </td>
                      </tr>
                      <tr>
                      	<td>
                          <a href="{% url 'bbs' blog_id='hotarticle' %}" style="font-weight: bold;">핫게시글</a>
                        </td>
                      </tr>
                    </tbody>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
         <div class="sitemap">
		      	<div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter" id="">
                    <thead class="text-primary">
                      <tr>
                      	<th>
                      		기타
                      	</th>
                    </thead>
                    <tbody>
                      <tr>
                      	 <td>
                      	 	<a href="{% url 'us' %}">About US</a>
                        </td>
                      </tr>
                      <tr>
                      	 <td>
                      	 	<a href="{% url 'faq' %}">FAQ</a>
                        </td>
                      </tr>
                      <tr>
                         <td>
                          <a href="mailto:haeoksung1234@gmail.com"><span>회원탈퇴</span></a>
                        </td>
                      </tr>
                    </tbody>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div> 






		<!-- sitemap section end -->
{% endblock %}