{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
<body>

		<!-- join section  -->
			<section class="join-section">
				<div class="container">
					<div class="login-section-header">
						<h2>회원정보 조회/수정</h2>
					</div>
					<dl class="in_form">
						<dt><label for="u_name">아이디</label></dt>
						<dd><input type="text" id="u_id" class="input_txt size_m" value="2019*****" disabled></dd>
						<dt><label for="u_name">이메일주소</label></dt>
						<dd><input type="text" id="u_email" class="input_txt size_m" value="123@naver.com" disabled></dd>
						<dt><label for="u_id" >닉네임</label></dt>
						<dd><input type="text" id="u_name" class="input_txt size_m" value="SMU"></dd>
						
						<!-- <dt><label for="u_pw">비밀번호 수정</label></dt>
						<dd><input type="password" id="u_pw" class="input_txt size_m"></dd>
						<dt><label for="u_pw">비밀번호 재확인</label></dt>
						<dd><input type="password" id="u_pw" class="input_txt size_m"></dd> -->
						<dt><h6 class="login-section" style="text-align: left; margin-left: -50px">비밀번호를 잊어버리셨나요?   <a href="#">로그인페이지에서 FIND PASSWORD를 클릭하세요.</a></h6>
						</dt>
					</dl>
					<!-- </dl>
					<ul class="btns"> 
						<li><button type="submit" class="btn_ok">수정</button></li>
						<li><button type ="submit" onClick="history.go(-1)" class="btn_cancel">취소</button></li>
					</ul> -->
				</div>
			</section>

		<!-- join section end -->
{% endblock %}